<!--
                                                          :::      ::::::::
     index.ejs                                          :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/10/05 00:18:09 by tbouder           #+#    #+#
     Updated: 2016/10/05 23:31:20 by tbouder          ###   ########.fr
-->

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Node + React</title>
		<link rel="stylesheet" type="text/css" href="css/semantic.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div id="main"></div>
		<script src="js/bundle.js"></script>
	</body>
</html>
