/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   main.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tbouder <tbouder@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/10/05 17:36:15 by tbouder           #+#    #+#             */
/*   Updated: 2016/10/05 22:36:40 by tbouder          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

#main
{
	padding-top: 2vh;
}

.text_center
{
	text-align: center;
}

.padding_two
{
	padding-top: 2vh;
}

.padding_ten
{
	padding-top: 10vh;
}
